<%- include('parts/html-head') %>
<%- include('parts/navbar') %>


<div class="container">
  <div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">欄位</label>
              <select class="form-select" id="orderByCol" name="orderByCol">
                <%# if(locals.col) { %>
                  <%# switch (col) { %>
                    <%# case 'name':  %>
                      <!-- <option value="name" selected>name</option>
                      <option value="age">age</option>
                      <option value="id">ID</option> -->
                    <%#  break; %>
                    <%# case 'age':  %>
                      <!-- <option value="name">name</option>
                      <option value="age" selected>age</option>
                      <option value="id">ID</option> -->
                    <%#  break; %>
                    <%# case 'id':  %>
                      <!-- <option value="name">name</option>
                      <option value="age">age</option>
                      <option value="id" selected>ID</option> -->
                    <%#  break; %>
                  <%# } %>
                    <option value="name">name</option>
                    <option value="age">age</option>
                    <option value="id">ID</option>
                <%# } %>
              </select>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">規則</label>
              <select class="form-select" id="orderByRule" name="orderByRule">
                <%# if(locals.rule) { %>
                  <%# switch (rule) { %>
                    <%# case 'asc':  %>
                    <!-- <option value="asc" selected>升冪排列</option>
                    <option value="desc">降冪排列</option> -->
                    <%#  break; %>
                    <%# case 'desc':  %>
                    <!-- <option value="asc">升冪排列</option>
                    <option value="desc" selected>降冪排列</option> -->
                    <%#  break; %>
                  <%# } %>
                    <option value="asc">升冪排列</option>
                    <option value="desc">降冪排列</option>
                <%# } %>
              </select>
            </div>
            
            <button type="submit" class="btn btn-primary">送出</button>
          </form>
    </div>
</div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i of sales){ %>
            <tr>
                <td><%= i.name %></td>
                <td><%= i.age %></td>
                <td><%= i.id %></td>
            </tr>
          <% } %>
        </tbody>
      </table>





</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>

