<%- include('parts/html-head') %>
<%- include('parts/navbar') %>


<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i of sales){ %>
            <tr>
                <td><%= i.name %></td>
                <td><%= i.age %></td>
                <td><%= i.id %></td>
            </tr>
          <% } %>
        </tbody>
      </table>





</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>

